#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
.idea/
#Nuget packages folder
packages/
/gatherly.server/.env
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/gatherly.client/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/.sonarqube
/gatherly.server/.sonarqube
gatherly.client/.scannerwork
/.scannerwork
/sonar-project.properties
/gatherly.client/.scannerwork/
/gatherly.server/Content/reminders/
/docker-compose.yml
/gatherly.client/.env
/gatherly.server/appsettings.Development.json
/gatherly.server/appsettings.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/HotDeskApp.Server/.env
/HotDeskApp.Server/appsettings.Development.json
/HotDeskApp.Server/appsettings.json
